<nav class="navbar navbar-expand-lg navbar-dark mt-3 d-md-none">
    <div class="container-fluid">
        <div>
            <span style="font-size: 7vw; font-weight: bold;">MexArc</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mt-2 input-group w-100 d-flex justify-content-center">
                <div class="buscador-map w-100">
                    <select placeholder="Buscar Zona" class="tom-select"></select>
                </div>
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</nav>

<div class="header d-flex mt-3">
    <aside class="d-none">
        <a class="text-decoration-none" href=""><i class="bi bi-list d-flex text-white fs-2"></i></a>
    </aside>
    <div class="">
        <span class="ms-4 d-none d-md-inline" style="font-size: 2vw; font-weight: bold;">MexArc</span>
    </div>
    <div class="w-100 me-4 d-none d-md-inline">
        <div class="d-grid d-md-flex justify-content-md-end input-group w-100">
            <div class="buscador-map w-100">
                <select placeholder="Buscar Zona" class="tom-select"></select>
            </div>
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
            </span>
        </div>
    </div>
</div>

<div class="container mt-3">
    <article class="row mb-5">
        <section id="bienvenida" class="col-sm-6 mb-3 d-flex text-white justify-content-center align-items-center">
            <div>
                <h1 class="title">Bienvenido a MexArc</h1>
                <p class="my-3 fs-5">Explora las bastas zonas arqueologicas con las que México cuenta
                    siendo uno de los Países mas bastos en Cultura e Historia, conoce más de cada zona y
                    disfruta de la experiencia de conocer sobre la historia de este gran País, ¿Listo?...
                </p>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn d-none btn-primary rounded-pill">Conocer más...</button>
            </div>
        </section>
        <section id="zonaPreview" class="col-sm-6 d-none mb-3 d-flex text-white justify-content-center align-items-center"></section>
        <section class="col-sm-6">
            <div class="map" id="map"></div>
        </section>
    </article>
    <div class="container text-center">
        <div class="divisor">
            <button class="btn btn-sm btn-purple rounded-pill">Top 5 zonas mas visitadas</button>
        </div>
    </div>
    <article class="row my-5" style="height: 170px;">
        <div class="col pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#1</h4>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/teotihuacan.jpg');"></div>
                </button>
                <p class="fs-4 fw-bold mt-3 text-center">Teotihuacan</p>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#2</h4>
                <button data-bs-toggle="modal" data-bs-target="#modalChichen" class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/chichen-itza-ruins.jpg');"></div>
                </button>
                <p class="fs-4 fw-bold mt-3 text-center">Chichen Itza</p>
            </div>
        </div>
        <div class="col-sm pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#3</h4>
                <button data-bs-toggle="modal" data-bs-target="#modalPalenque" class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/palenque.jpg');"></div>
                </button>
                <p class="fs-4 fw-bold mt-3 text-center">Palenque</p>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#4</h4>
                <button data-bs-toggle="modal" data-bs-target="#modalTula" class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/tula.jpg');"></div>
                </button>
                <p class="fs-4 fw-bold mt-3 text-center">Tula</p>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#5</h4>
                <button data-bs-toggle="modal" data-bs-target="#modalTajin" class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/tajin.jpg');"></div>
                </button>
                <p class="fs-4 fw-bold mt-3 text-center">El Tajín</p>
            </div>
        </div>
    </article>

    
</div>


<!--Modals-->

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-3 fw-bold" id="exampleModalLabel">Teotihuacan <i class="bi bi-star-fill"></i></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ContainerCenter">
                    <!-- Radio Seleccionar -->
                    <input type="radio" name="Carrusel" id="Slider1" checked>
                    <input type="radio" name="Carrusel" id="Slider2">
                    <input type="radio" name="Carrusel" id="Slider3">
                    
                    <div class="Carrusels">
                        <!-- Imagen contenido -->
                        <div class="Carrusel" style="background-image: url('../../assets/img/teotihuacan.jpg');"></div> 
                        <div class="Carrusel" style="background-image: url('../../assets/img/teotihuacan2.jpg');"></div>
                        <div class="Carrusel" style="background-image: url('../../assets/img/teotihuacan3.jpg');"></div>
                        
                        <!-- Flechas a la izquierda por cada imagen -->
                        <label for="Slider3" class="ArrowLeft Arrow1">❮</label>
                        <label for="Slider1" class="ArrowLeft Arrow2">❮</label>
                        <label for="Slider2" class="ArrowLeft Arrow3">❮</label>
                        
                        <!-- Flechas a la derecha por cada imagen -->
                        <label for="Slider2" class="ArrowRight Arrow1">❯</label> 
                        <label for="Slider3" class="ArrowRight Arrow2">❯</label>
                        <label for="Slider1" class="ArrowRight Arrow3">❯</label>
                        </div>
                        
                        <!-- Selector circulos inferiores colgantes -->
                        <div class="Selectors">
                        <label for="Slider1" class="Selector me-2"></label>
                        <label for="Slider2" class="Selector me-2"></label>
                        <label for="Slider3" class="Selector"></label>
                        </div>
                    </div>

                    <div class="mt-3 fw-bold">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="mt-3">Teotihuacan, Estado de México</span>
                    </div>
            <p class="my-3">Teotihuacán es un amplio complejo arqueológico mexicano al noreste de la Ciudad de México. Por el centro del lugar, que alguna vez fue una floreciente ciudad precolombina, pasa la Calzada de los Muertos. 
                Esta une el Templo de Quetzalcóatl, la Pirámide de la Luna y la Pirámide del Sol.
            </p>
            <section class="row">
                <span class="fs-3 mb-3 fw-bold">Historia</span>
                <p class="">La Ciudad Prehispánica de Teotihuacan fue uno de los centros urbanos más grandes del mundo antiguo, que llegó a concentrar una población mayor a los 100,000 habitantes en su momento de máximo esplendor. 
                    Situada en un valle rico en recursos naturales, Teotihuacan fue la sede del poder de una de las sociedades mesoamericanas más influyentes en los ámbitos político, económico, comercial, religioso y cultural, 
                    cuyos rasgos marcaron permanentemente a los pueblos del altiplano mexicano, traspasando el tiempo y llegando hasta nosotros con la misma fuerza y grandeza con que sus constructores la planearon.
                </p>
            </section>
            <section class="row">
                <p class="fw-bold mt-3">Coordernadas: -2132132412414214, 14212412421453</p>
            </section>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalChichen" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-3 fw-bold">Chichen Itza <i class="bi bi-star-fill"></i></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ContainerCenter">
                    <!-- Radio Seleccionar -->
                    <input type="radio" name="Carrusel" id="Slider1" checked>
                    <input type="radio" name="Carrusel" id="Slider2">
                    <input type="radio" name="Carrusel" id="Slider3">
                    
                    <div class="Carrusels">
                        <!-- Imagen contenido -->
                        <div class="Carrusel" style="background-image: url('../../assets/img/chichen-itza-ruins.jpg');"></div> 
                        <div class="Carrusel" style="background-image: url('../../assets/img/chichen-itza-2.jpg');"></div>
                        <div class="Carrusel" style="background-image: url('../../assets/img/chichen-itza-3.jpg');"></div>
                        
                        <!-- Flechas a la izquierda por cada imagen -->
                        <label for="Slider3" class="ArrowLeft Arrow1">❮</label>
                        <label for="Slider1" class="ArrowLeft Arrow2">❮</label>
                        <label for="Slider2" class="ArrowLeft Arrow3">❮</label>
                        
                        <!-- Flechas a la derecha por cada imagen -->
                        <label for="Slider2" class="ArrowRight Arrow1">❯</label> 
                        <label for="Slider3" class="ArrowRight Arrow2">❯</label>
                        <label for="Slider1" class="ArrowRight Arrow3">❯</label>
                        </div>
                    </div>
                    <div class="mt-3 fw-bold">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="mt-3">Timun, Yucatán </span>
                    </div>
            <p class="my-3">Chichen Itza es uno de los principales sitios arqueológicos mayas de la península de Yucatán, en México. 
                Se encuentra a escasos 2.5 km de la localidad de Pisté, en el municipio de Tinum, en el estado de Yucatán, al sureste del país. 
            </p>
            <section class="row">
                <span class="fs-3 mb-3 fw-bold">Historia</span>
                <p class="">Chichén Itzá fue fundada hacia el año 250 d. C., durante «la primera bajada o bajada pequeña del oriente» que refieren las crónicas, 
                    por los chanes de Bacalar (que después se llamaron itzá y más tarde cocomes).
                    Habiendo establecido los chanes la capital de su gobierno en Chichén Itzá en la época señalada, provenientes de Bacalar, 
                    continuaron su trayecto de oriente a poniente en la península de Yucatán, al cabo del cual fundarían también otras ciudades importantes como Ek Balam, 
                    Izamal, Motul, TꞌHó, la actual Mérida de Yucatán, y Champotón.
                </p>
            </section>
            <section class="row">
                <p class="fw-bold mt-3">Coordernadas: 20.68314, -88.56877</p>
            </section>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPalenque" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-3 fw-bold">Palenque <i class="bi bi-star-fill"></i></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ContainerCenter">
                    <!-- Radio Seleccionar -->
                    <input type="radio" name="Carrusel" id="Slider1" checked>
                    <input type="radio" name="Carrusel" id="Slider2">
                    <input type="radio" name="Carrusel" id="Slider3">
                    
                    <div class="Carrusels">
                        <!-- Imagen contenido -->
                        <div class="Carrusel" style="background-image: url('../../assets/img/palenque.jpg');"></div> 
                        <div class="Carrusel" style="background-image: url('../../assets/img/palenque2.jpg');"></div>
                        <div class="Carrusel" style="background-image: url('../../assets/img/palenque3.jpg');"></div>
                        
                        <!-- Flechas a la izquierda por cada imagen -->
                        <label for="Slider3" class="ArrowLeft Arrow1">❮</label>
                        <label for="Slider1" class="ArrowLeft Arrow2">❮</label>
                        <label for="Slider2" class="ArrowLeft Arrow3">❮</label>
                        
                        <!-- Flechas a la derecha por cada imagen -->
                        <label for="Slider2" class="ArrowRight Arrow1">❯</label> 
                        <label for="Slider3" class="ArrowRight Arrow2">❯</label>
                        <label for="Slider1" class="ArrowRight Arrow3">❯</label>
                        </div>
                        
                    </div>
                    <div class="mt-3 fw-bold">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="mt-3">Palenque, Chiapas</span>
                    </div>
            <p class="my-3">Palenque es una zona arqueológica enclavada en el centro de la selva tropical del municipio de Palenque, ubicada al noreste del estado mexicano de Chiapas, 
                a 282 km de Tuxtla Gutiérrez (la capital) y a 220 km de San Cristóbal de las Casas,​ 
                cerca del río Usumacinta. Es uno de los sitios más importante de la cultura maya junto a Chichén Itzá, Calakmul y Tikal. Destaca por su acervo arquitectónico y escultórico.
            </p>
            <section class="row">
                <span class="fs-3 mb-3 fw-bold">Historia</span>
                <p class="">Se cree que los mayas fundaron Lakam Ha durante el período Formativo (2500 a. C.-300), alrededor del 100 a. C., como una aldea predominantemente agricultora, y favorecida por los numerosos manantiales y corrientes de agua de la región.
                    La población creció durante el período Clásico Temprano (200-600), hasta ser una ciudad, llegando a ser la capital de la región de B'akaal (‘hueso’), comprendido en la zona de Chiapas y Tabasco, en el período Clásico Tardío (600-900). La más antigua de las estructuras que han sido descubiertas fue construida alrededor del año 600.
                    B'akaal fue un centro importante de la civilización maya entre los siglos V y IX, durante los cuales alternó épocas de gloria y de catástrofe, de alianzas y guerras. En más de una ocasión hizo alianzas con Tikal, la otra gran ciudad maya de la época; en especial para contener la expansión del belicoso Calakmul, también llamado "Reino de la Serpiente". Calakmul resultó victorioso en dos ocasiones, en 599 y 611.
                </p>
            </section>
            <section class="row">
                <p class="fw-bold mt-3">Coordernadas: 17.48508, -92.04806</p>
            </section>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTula" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-3 fw-bold">Tula <i class="bi bi-star-fill"></i></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ContainerCenter">
                    <!-- Radio Seleccionar -->
                    <input type="radio" name="Carrusel" id="Slider1" checked>
                    <input type="radio" name="Carrusel" id="Slider2">
                    <input type="radio" name="Carrusel" id="Slider3">
                    
                    <div class="Carrusels">
                        <!-- Imagen contenido -->
                        <div class="Carrusel" style="background-image: url('../../assets/img/tula.jpg');"></div> 
                        <div class="Carrusel" style="background-image: url('../../assets/img/tula3.jpg');"></div>
                        
                        <!-- Flechas a la izquierda por cada imagen -->
                        <label for="Slider3" class="ArrowLeft Arrow1">❮</label>
                        <label for="Slider1" class="ArrowLeft Arrow2">❮</label>
                        <label for="Slider2" class="ArrowLeft Arrow3">❮</label>
                        
                        <!-- Flechas a la derecha por cada imagen -->
                        <label for="Slider2" class="ArrowRight Arrow1">❯</label> 
                        <label for="Slider3" class="ArrowRight Arrow2">❯</label>
                        <label for="Slider1" class="ArrowRight Arrow3">❯</label>
                        </div>
                        
                    </div>
                    <div class="mt-3 fw-bold">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="mt-3">Tula de Allende, Hidalgo</span>
                    </div>
            <p class="my-3">
                El sitio arqueológico se encuentra en el municipio de Tula de Allende.
                La gran Tollán, la ciudad de Quetzalcóatl, sede de la cultura tolteca, fue la gran capital del altiplano central de Mesoamérica, con casi 16 kilómetros cuadrados de extensión, con numerosos edificios públicos, plazas, calzadas y abundantes esculturas y bajorrelieves policromados. 
                En la parte superior de la pirámide de Tlauizcalpantecutli encontramos columnas, pilastras y los colosales atlantes que representan guerreros con un lanzadardos en su mano derecha y un haz de flechas en la otra. Sobre el pecho, portan un pectoral en forma de mariposa y visten falderín con gran cinturón; esculturas de piedra bellamente talladas y grabadas.
            </p>
            <section class="row">
                <span class="fs-3 mb-3 fw-bold">Historia</span>
                <p class="">
                    Tollan en náhuatl significa cerca del tular o donde abundan los tules, ésta última acepción hace referencia a la gran cantidad de personas (se calcula que alrededor de 85 mil) que habitaron la metrópoli. 
                    Hacia el año de 1050 después de Cristo, Tula era la gran capital del altiplano central de Mesoamérica, con casi 16 kilómetros cuadrados de extensión, con numerosos edificios públicos, plazas, 
                    calzadas y abundantes esculturas y bajorrelieves policromados. En la parte superior de la pirámide encontramos columnas, pilastras y estatuas colosales, bellamente grabadas que se erigen majestuosamente como centinelas divinos.
                </p>
            </section>
            <section class="row">
                <p class="fw-bold mt-3">Coordernadas: 20.06384, -99.34046</p>
            </section>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTajin" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-3 fw-bold">El Tajín <i class="bi bi-star-fill"></i></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ContainerCenter">
                    <!-- Radio Seleccionar -->
                    <input type="radio" name="Carrusel" id="Slider1" checked>
                    <input type="radio" name="Carrusel" id="Slider2">
                    <input type="radio" name="Carrusel" id="Slider3">
                    
                    <div class="Carrusels">
                        <!-- Imagen contenido -->
                        <div class="Carrusel" style="background-image: url('../../assets/img/tajin.jpg');"></div> 
                        <div class="Carrusel" style="background-image: url('../../assets/img/tajin2.jpg');"></div>
                        
                        <!-- Flechas a la izquierda por cada imagen -->
                        <label for="Slider3" class="ArrowLeft Arrow1">❮</label>
                        <label for="Slider1" class="ArrowLeft Arrow2">❮</label>
                        <label for="Slider2" class="ArrowLeft Arrow3">❮</label>
                        
                        <!-- Flechas a la derecha por cada imagen -->
                        <label for="Slider2" class="ArrowRight Arrow1">❯</label> 
                        <label for="Slider3" class="ArrowRight Arrow2">❯</label>
                        <label for="Slider1" class="ArrowRight Arrow3">❯</label>
                        </div>
                        
                    </div>
                    <div class="mt-3 fw-bold">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="mt-3">Papantla, Veracruz de Ignacio de la Llave</span>
                    </div>
            <p class="my-3">
                Se cree que la ciudad de Tajín fue un centro muy importante y llegó a su apogeo en la transición al Posclásico, conocida también como Período Epiclásico mesoamericano, entre los años 800 y 1150 d. C.
                Al contrario de la creencia popular, no existe evidencia arqueológica que soporte la idea de que los totonacas hayan sido los constructores o habitantes originales de esta ciudad. 
                Debido a ello, los historiadores prefieren utilizar el término "la cultura de El Tajín". El Tajín cuenta con varios campos de juego de pelota y templos escalonados.
            </p>
            <section class="row">
                <span class="fs-3 mb-3 fw-bold">Historia</span>
                <p class="">
                    La construcción de edificios ceremoniales del Tajín probablemente se inició en el siglo i. En el Período Clásico mesoamericano temprano el Tajín mostró influencia de Teotihuacán tal y como se puede observar en el urbanismo, la arquitectura, la pintura, la escultura y la cerámica;5​ mientras que en el Posclásico mostró influencia maya.
                    <br>El Tajín fue la ciudad más grande de la costa norte del golfo de México y dominó el territorio limitado por las cuencas de los ríos Tecolutla y Cazones, entre 650 y 950 d. C. Los gobernantes de esta capital extendieron su hegemonía desde el somontano de la Sierra Madre Oriental hasta las planicies costeras del golfo, en los actuales estados de Puebla y Veracruz.
                </p>
            </section>
            <section class="row">
                <p class="fw-bold mt-3">Coordernadas: 20.44781, -97.37804</p>
            </section>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>