.title {
    font-size: 5vw;
    font-weight: bold;
}

.map {
    width: 100%;
    height: 600px;
    z-index: 0;
    border-radius:10px;
}

.list-img {
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 10px;
}

.list-img-state {
    color: #ffff;
    background-color: #6200ff;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.an-img {
    background: none;
    border: none;
}

.an-img:hover {
    transition: ease-out 0.5s;
    border-radius: 15px;
    opacity: 70%;
}

.list-img-state:hover {
    background-color: #2c05ee;
}

.bg-top {
    background-color: #ebcf1a
}

.card {
    background-color: #00001e;
}


.buscador-map {
    max-width: 300px;
}

.input-group-text {
    background-color: #ffffff;
}

.divisor {
    text-align: center;
    display: inline-block;
    position: relative;
}

.btn-purple {
    background-color: #6200ff;
    color: #ffffff;
    font-weight: bold;
    cursor: auto;
}

.modal-content {
    background-color: #00001e;
}

.modal-header {
    border-bottom: 1px solid #1f1e42;
}

.modal-footer {
    border-top: 1px solid #1f1e42;
}

.list-group{
    flex-direction: row;
}

.list-group-item {
    background-color: #00001e;
}

.list-group-item.active {
    background-color: #121266;
    border: none;
}

.street-view {
    height: 400px;
    border-radius: 10px;
    min-width: 406px;
    min-height: 600px;
}

.map-container {
    padding-bottom: 100%;
    height: 0;
    border-radius: 10px;
}

@media (width > 1350px) {
    .divisor::after, .divisor::before {
        content: '';
        position: absolute;
        width: 600px;
        height: 1px;
        background-color: #6200ff;
        top: 0.8em;
    }

    .divisor::before {
        left: -620px;
    }

    .divisor::after {
        right: -620px;
    }
}

@media (width < 1350px) {
    .divisor::after, .divisor::before {
        content: '';
        position: absolute;
        width: 380px;
        height: 1px;
        background-color: #6200ff;
        top: 0.8em;
    }

    .divisor::before {
        left: -400px;
    }

    .divisor::after {
        right: -400px;
    }
}

@media (width < 1100px) {
    .divisor::after, .divisor::before {
        content: '';
        position: absolute;
        width: 300px;
        height: 1px;
        background-color: #6200ff;
        top: 0.8em;
    }

    .divisor::before {
        left: -320px;
    }

    .divisor::after {
        right: -320px;
    }
}

@media (width < 850px) {
    .divisor::after, .divisor::before {
        content: '';
        position: absolute;
        width: 90px;
        height: 1px;
        background-color: #6200ff;
        top: 0.8em;
    }

    .divisor::before {
        left: -110px;
    }

    .divisor::after {
        right: -110px;
    }
}

@media (width < 500px) {
    .divisor::after, .divisor::before {
        content: '';
        position: absolute;
        width: 0px;
        height: 1px;
        background-color: #6200ff;
        top: 0.8em;
    }

}

label{cursor: pointer;}

/* Contenedor para centrar */
.ContainerCenter{
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Input */
input{display: none}



/* Slider */
.Carrusels{
  height: 300px;
  width: 500px;
  position: relative;
  overflow-x: hidden;
}
.Carrusel{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all .5s ease;
}
/* Estado 1 */
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
/* Estado 2 */
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
/* Estado 3 */
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}


/* Flechas */
.Carrusels .ArrowLeft, .Carrusels .ArrowRight{
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
}
.Carrusels .ArrowLeft{left: 0px;}
.Carrusels .ArrowRight{right: 0px;}
/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3{display: flex;}


/* Selectores */
.Selectors {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #FFF;
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
}
/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}






