<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-inline d-md-none">
    <div class="container-fluid">
        <div>
            <span style="font-size: 7vw; font-weight: bold;">MexArc</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mt-2 input-group w-100 d-flex justify-content-center">
                <div class="buscador-map w-100">
                    <select placeholder="Buscar Zona" class="tom-select"></select>
                </div>
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</nav>

<div class="header d-flex mt-3">
    <aside class="d-none">
        <a class="text-decoration-none" href=""><i class="bi bi-list d-flex text-white fs-2"></i></a>
    </aside>
    <div class="">
        <span class="ms-4 d-none d-md-inline" style="font-size: 2vw; font-weight: bold;">MexArc</span>
    </div>
    <div class="w-100 me-4 d-none d-md-inline">
        <div class="d-grid d-md-flex justify-content-md-end input-group w-100">
            <div class="buscador-map w-100">
                <select placeholder="Buscar Zona" class="tom-select"></select>
            </div>
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
            </span>
        </div>
    </div>
</div>

<div class="container mt-3">
    <article class="row mb-5">
        <section id="bienvenida" class="col-sm-6 mb-3 d-flex text-white justify-content-center align-items-center">
            <div>
                <h1 class="title">Bienvenido a MexArc</h1>
                <p class="my-3 fs-5">Explora las bastas zonas arqueologicas con las que México cuenta
                    siendo uno de los Países mas bastos en Cultura e Historia, conoce más de cada zona y
                    disfruta de la experiencia de conocer sobre la historia de este gran País, ¿Listo?...
                </p>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn  d-none btn-primary rounded-pill">Conocer más...</button>
            </div>
        </section>
        <section id="zonaPreview" class="col-sm-6 d-none mb-3 d-flex text-white justify-content-center align-items-center"></section>
        <section class="col-sm-6">
            <div class="map" id="map"></div>
        </section>
    </article>
    <div class="container text-center">
        <div class="divisor">
            <button class="btn btn-sm btn-purple rounded-pill">Top 5 zonas mas visitadas</button>
        </div>
    </div>
    <article class="row my-5" style="height: 170px;">
        <div class="col pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#1</h4>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/teotihuacan.jpg');"></div>
                </button>
                <p class="fs-4 fw-bold mt-3 text-center">Teotihuacan</p>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#2</h4>
                <a class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/chichen-itza-ruins.jpg');"></div>
                </a>
                <p class="fs-4 fw-bold mt-3 text-center">Chichen Itza</p>
            </div>
        </div>
        <div class="col-sm pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#3</h4>
                <a class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/palenque.jpg');"></div>
                </a>
                <p class="fs-4 fw-bold mt-3 text-center">Palenque</p>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#4</h4>
                <a class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/tula.jpg');"></div>
                </a>
                <p class="fs-4 fw-bold mt-3 text-center">Tula</p>
            </div>
        </div>
        <div class="col pb-5">
            <div class="card h-100">
                <h4 class="text-center bg-top rounded-pill mb-3">#5</h4>
                <a class="an-img" href="">
                    <div class="list-img" style="background-image: url('../../assets/img/tajin.jpg');"></div>
                </a>
                <p class="fs-4 fw-bold mt-3 text-center">Tajín</p>
            </div>
        </div>
        <div class="container mb-5 text-center">
            <div class="divisor">
                <button class="btn btn-sm btn-purple rounded-pill">Zonas por Estados de México</button>
            </div>
        </div>
        
        <section class="row d-flex justify-content-center">
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Quintana Roo</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Yucatán</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Sonora</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Estado de México</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Campeche</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Veracruz</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Baja California</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Michoacan</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Jalisco</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Puebla</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Sinaloa</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Nuevo León</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">San Luis Potosi</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Chiapas</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Chihuahua</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Durango</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Guerrero</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Oaxaca</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Tamaulipas</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Tabasco</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Hidalgo</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">CDMX</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Campeche</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Veracruz</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Colima</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Nayarit</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Baja California Sur</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Guanajuato</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Tlaxcala</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Morelos</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Zacatecas</p></button>
                </div>
            </div>
            <div class="col pb-5">
                <div class="card h-100">
                    <button class="list-img-state border-0"><p class="fs-4 fw-bold mt-3">Aguascalientes</p></button>
                </div>
            </div>
        </section>
    </article>

    
</div>


<!--Modals-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-3 fw-bold" id="exampleModalLabel">México</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <img class="w-100" src="../../assets/img/licensed-image.jpeg" alt="México">
            <p class="my-3">México es un país soberano ubicado en la parte meridional de América del Norte; su capital y ciudad más poblada es la Ciudad de México. 
                Este hermoso País goza de una basta Cultura e Historia que se ha quedado marcada en las actuales Zonas Arqueológicas que existen por todo el territorio.
            </p>
            <section class="row">
                <span class="fs-3 mb-3 fw-bold">Conoce las zonas arqueologicas</span>
                <div class="col-6">
                    <img class="w-100" src="../../assets/img/chichen-itza-ruins.jpg" alt="">
                </div>
                <div class="col-6">
                    <img class="w-100" src="../../assets/img/tajin.jpg" alt="">
                </div>
                <p class="my-3">Te damos la bienvenida a MexArcApp, la aplicacion el la que podras explorar todo lo relacionado a estas zonas
                    misteriosas que guardan la historia de los años en México, podrás explorar las zonas por nombre o por estado, conociendo cada una de las zonas
                    si así lo deseas, adelante, ¡Busca una zona en el mapa!
                </p>
            </section>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-3 fw-bold" id="exampleModalLabel">Teotihuacan</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ContainerCenter">
                    <!-- Radio Seleccionar -->
                    <input type="radio" name="Carrusel" id="Slider1" checked>
                    <input type="radio" name="Carrusel" id="Slider2">
                    <input type="radio" name="Carrusel" id="Slider3">
                    
                    <div class="Carrusels">
                      <!-- Imagen contenido -->
                      <div class="Carrusel" style="background-image: url('../../assets/img/teotihuacan.jpg');"></div> 
                      <div class="Carrusel" style="background-image: url('../../assets/img/teotihuacan2.jpg');"></div>
                      <div class="Carrusel" style="background-image: url('../../assets/img/teotihuacan3.jpg');"></div>
                      
                      <!-- Flechas a la izquierda por cada imagen -->
                      <label for="Slider3" class="ArrowLeft Arrow1">❮</label>
                      <label for="Slider1" class="ArrowLeft Arrow2">❮</label>
                      <label for="Slider2" class="ArrowLeft Arrow3">❮</label>
                      
                      <!-- Flechas a la derecha por cada imagen -->
                      <label for="Slider2" class="ArrowRight Arrow1">❯</label> 
                      <label for="Slider3" class="ArrowRight Arrow2">❯</label>
                      <label for="Slider1" class="ArrowRight Arrow3">❯</label>
                    </div>
                    
                    <!-- Selector circulos inferiores colgantes -->
                    <div class="Selectors">
                      <label for="Slider1" class="Selector me-2"></label>
                      <label for="Slider2" class="Selector me-2"></label>
                      <label for="Slider3" class="Selector"></label>
                    </div>
                  </div>
            <p class="my-3">Teotihuacán es un amplio complejo arqueológico mexicano al noreste de la Ciudad de México. Por el centro del lugar, que alguna vez fue una floreciente ciudad precolombina, pasa la Calzada de los Muertos. 
                Esta une el Templo de Quetzalcóatl, la Pirámide de la Luna y la Pirámide del Sol.
            </p>
            <section class="row">
                <span class="fs-3 mb-3 fw-bold">Historia</span>
                <p class="">La Ciudad Prehispánica de Teotihuacan fue uno de los centros urbanos más grandes del mundo antiguo, que llegó a concentrar una población mayor a los 100,000 habitantes en su momento de máximo esplendor. 
                    Situada en un valle rico en recursos naturales, Teotihuacan fue la sede del poder de una de las sociedades mesoamericanas más influyentes en los ámbitos político, económico, comercial, religioso y cultural, 
                    cuyos rasgos marcaron permanentemente a los pueblos del altiplano mexicano, traspasando el tiempo y llegando hasta nosotros con la misma fuerza y grandeza con que sus constructores la planearon.
                </p>
            </section>
            <section class="row">
                <span class="fs-3 mb-3 fw-bold">Mapa</span>
                <div class="map" id="map" style="background-color: rgb(135, 187, 233);"></div>
                <p class="fw-bold mt-3">Coordernadas: -2132132412414214, 14212412421453</p>
            </section>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>